* {
    box-sizing: border-box;
    text-align: center;
    font-family: 'Courgette', Arial, Helvetica, sans-serif;
}

html {
    font-size: 62.5%;
    background: url('images/bkgdpink.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.topBox {
     height: 250px;
     border: 5px solid plum;
     font-size: 2.5rem;
     background-color: palevioletred;
     margin: 0% 15%;
     color: purple;
}

button, select {
    background: papayawhip;
    border-radius: 7px;
    height: 35px;
    width: 30%;
    margin: 1%;
    color: purple;
}

.results {
    background: palevioletred;
    border: 5px solid plum;
    margin: 0% 15%;
    font-size: 2rem;
    padding: 0% 5%;
}

#zodiacSign {
    font-size: 4rem;
} 

#zodiacPic {
    height: 400px;
}

/* Media Queries */

@media all and (max-width: 426px) {
    .topBox {
        height: 190px;
        border: 5px solid plum;
        font-size: 1.75rem;
        background-color: palevioletred;
        color: purple;
        margin: 0;
    }
    .results {
        background: palevioletred;
        border: 5px solid plum;
        margin: 0;
        font-size: 2rem;
        padding: 0;
    }
}

@media (min-width: 315px) and (max-width: 425px) {
    button, select {
        background: papayawhip;
        border-radius: 7px;
        height: 54px;
        width: 29%;
        margin: 0;
        color: purple;
    }
    .topBox {
        height: 210px;
    }
    .moveForm {
        margin-bottom: 2%;
    }
    html {
        background-repeat: repeat;
    }
}